/* Entire page */
html {
  background-color: #2450a4;
  font-family: Roboto, Arial;
}

/* Entire navbar */
.navbar-grid {
  display: grid;
  grid-template-columns: 75px 200px 1fr 400px;
  background-color: #51E9F4;
  align-items: center;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  padding-top: 4px;
  padding-left: 10px;
  padding-right: 10px;
}

/* Navbar logo */
.navbar-image {
  border-radius: 25%;
  width: 80%;
  padding: 10%;
}

/* Navbar title */
.navbar-title {
  font-size: 24px;
  font-weight: bold;
  padding: 8px;
  color: black;
  text-decoration: none;
}

/* Navbar title mouse-over */
.navbar-title:hover {
  text-decoration: underline;
}

/* Navbar grid for buttons */
.navbar-button-grid {
  display: grid;
  grid-template-columns: 75px 85px 85px 65px;
  column-gap: 8px;
  margin-right: 20px;
  justify-content: right;
}

/* Website buttons */
.content-button,
.navbar-button {
  display: inline-block;
  border-width: 0px;
  border-radius: 16px;
  padding-top: 6px;
  padding-left: 12px;
  padding-bottom: 6px;
  padding-right: 12px;
  margin: auto;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  background: #0bbdcf;
  transition:
    background-color 0.15s;
}

/* Website buttons mouse-over*/
.content-button:hover,
.navbar-button:hover {
  background-color: #0c97ae;
}

/* Website buttons pressed*/
.content-button:active,
.navbar-button:active {
  background-color: #11788d;
}

/* Content button */
.content-button {
  margin-top: 16px;
}

/* Any anchor with child button */
a:has(button),
a:has(img) {
  text-decoration: none;
}

/* Default header overrides */
h1, h2, h3, h4, h5, h6 {
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
}

/* Content header */
h1 {
  text-align: center;
  font-size: 32px;
  font-weight: bold;
}

/* Content subheader */
h2 {
  font-size: 26px;
  font-weight: bold;
}

/* Content image (right) */
.content-image-right {
  display: grid;
  grid-template-columns: 1fr 250px;
  margin-top: 32px;
}

/* Content image (left) */
.content-image-left {
  display: grid;
  grid-template-columns: 250px 1fr;
  margin-top: 32px;
}

/* Content image flavor text */
.content-image-flavor {
  display: grid;
  grid-template-rows: 32px 1fr;
}

/* Content images */
.content-image {
  display: block;
  margin: auto;
  margin-top: 48px;
  width: 90%;
  border: solid;
  border-width: 1px;
}

/* Content paragraph */
p {
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
  margin-top: 14px;
}

/* Static page elements (main, footer) */
.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: fit-content;
  justify-self: center;
}

/* Main body formatting */
main {
  margin-top: 100px;
  padding-top: 16px;
}

/* Main content page (the white part) */
main,
footer {
  background-color: white;
  width: 664px;
  padding-left: 32px;
  padding-right: 32px;
  padding-bottom: 50px;
}

/* Footer specific */
footer {
  padding-top: 160px;
  text-align: center;
  color: grey;
}

/* Footer icon images*/
.footer-icon {
  height: 32px;
  margin: 16px;
}

/* */
.profile-icons {
  border-radius: 50%;
}
