/* Entire page */
html {
  background-color: #2450a4;
  font-family: Roboto, Arial;
}

/* Entire navbar */
.navbar-grid {
  display: grid;
  grid-template-columns: 75px 200px 1fr 400px;
  background-color: #51E9F4;
  align-items: center;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  padding-top: 4px;
  padding-left: 10px;
  padding-right: 10px;
  z-index: 999;
}

/* Navbar logo */
.navbar-image {
  border-radius: 25%;
  width: 80%;
  padding: 10%;
}

/* Navbar title */
.navbar-title {
  font-size: 24px;
  font-weight: bold;
  padding: 8px;
  color: black;
  text-decoration: none;
}

/* Navbar title mouse-over */
.navbar-title:hover {
  text-decoration: underline;
}

/* Navbar flexbox for buttons */
.navbar-button-flex {
  display: flex;
  flex-direction: row;
  column-gap: 8px;
  margin-right: 20px;
  justify-content: right;
}

/* Website buttons */
.content-button,
.navbar-button,
.screen-reader-bypass,
.video-button {
  display: inline-block;
  color: #000000;
  border-width: 0px;
  border-radius: 16px;
  padding-top: 6px;
  padding-left: 12px;
  padding-bottom: 6px;
  padding-right: 12px;
  font-family: Arial;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  background: #0bbdcf;
  text-decoration: none;
  text-align: center;
  transition:
    background-color 0.15s;
}

/* Website buttons mouse-over*/
.content-button:hover,
.navbar-button:hover,
.screen-reader-bypass:hover,
.video-button:hover {
  background-color: #0c97ae;
}

/* Website buttons pressed*/
.content-button:active,
.navbar-button:active,
.screen-reader-bypass:active,
.video-button:active {
  background-color: #11788d;
}

/* Content button */
.content-button {
  margin-top: 16px;
  margin-right: auto;
}

/* Any anchor with child button */
a:has(button),
a:has(img) {
  text-decoration: none;
}

/* Default header overrides */
h1, h2, h3, h4, h5, h6 {
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
}

/* Content header */
h1 {
  text-align: center;
  font-size: 32px;
  font-weight: bold;
}

/* Content subheader */
h2 {
  font-size: 26px;
  font-weight: bold;
}

/* Videos and GIFs */
video {
  width: 100%;
  border: solid;
  border-width: 1px;
}

/* Content image (right) */
.content-image-right {
  display: grid;
  grid-template-columns: 1fr 250px;
  margin-top: 32px;
}

/* Content image (left) */
.content-image-left {
  display: grid;
  grid-template-columns: 250px 1fr;
  margin-top: 32px;
}

/* Content image flavor text */
.content-image-flavor {
  display: grid;
  grid-template-rows: 32px 1fr;
}

/* Content images */
.content-image {
  display: block;
  margin: auto;
  margin-top: 48px;
  width: 90%;
  border: solid;
  border-width: 1px;
}

/* Content paragraph */
p {
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
  margin-top: 14px;
}

/* Static page elements (main, footer) */
.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: fit-content;
  justify-self: center;
}

/* Main body formatting */
main {
  margin-top: 100px;
  padding-top: 16px;
}

/* Main content page (the white part) */
main,
footer {
  background-color: white;
  width: 664px;
  padding-left: 32px;
  padding-right: 32px;
  padding-bottom: 50px;
}

/* Footer specific */
footer {
  padding-top: 160px;
  text-align: center;
  color: #727272;
}

/* Footer icon images*/
.footer-icon {
  height: 32px;
  margin: 16px;
}

/* The little profile pictures */
.profile-icons {
  border-radius: 50%;
}

/* Hides things from view (display) */
.screen-reader-only,
.screen-reader-bypass:not(:focus):not(:active),
.video-button,
.video-shade {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  white-space: nowrap;
  border: 0;
  clip-path: inset(50%);
}

/* Unhides things from view (display) */
.screen-reader-bypass:focus,
.content-video:hover .video-button,
.content-video:hover .video-shade,
.content-video:focus-within .video-shade,
.video-shade:hover,
.video-button:focus { 
  position: absolute;
  clip-path: none;    
  overflow: visible;
}

/* Specific styling for skip link unhide */
.screen-reader-bypass:focus {
  top: 100px;
  z-index: 999;
}

/* Content videos */
.content-video {
  position: relative;
  display: block;
  margin: auto;
  margin-top: 48px;
  width: 90%;
}

/* GIF/Video overlay shading */
.video-shade {
  position: absolute;
  top: 0;
  left: 0;
  height: 99%;
  width: 101%;
  opacity: 0.5;
  background-color: #727272;
  z-index: 1;
  pointer-events: none;
}

/* GIF/Video overlay play/pause button */
.video-button {
  width: auto;
  height: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-size: x-large;
  padding: 0px 3px 0px 3px;
  z-index: 2;
}
