.history {
  margin-top: 64px;
}

.history-a {
  text-decoration: none;
}

.history-author {
  text-align: center;
  color: gray;
  font-size: 20px;
}

.history-subheader {
  font-size: 28px;
  font-weight: bold;
  margin-top: 64px;
}

.history-sub-subheader {
  font-size: 20px;
  font-weight: bold;
  margin-top: 32px;
}

.history-sub-sub-subheader {
  font-size: 20px;
  margin-top: 32px;
  color: gray;
}

/* Scout you're killing me... */
.history-sub-sub-sub-subheader {
  margin-top: 32px;
  color: gray;
}

.history-quote {
  font-size: 18px;
  text-align: center;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 32px;
  color: gray;
  width: 75%;
}

/*
&#x2019;

<p class="content-p">
  &emsp;&emsp;&emsp;
</p>

<div class="history-sub-sub-subheader">
  &emsp;&emsp;&nbsp;
</div>

<div class="history-sub-sub-sub-subheader">
  &emsp;&emsp;&emsp;
</div>

/u/Andrewcshore315
/u/sarosauce
/u/ChippedJosh

"Cornerness, Blueness, and bottom-rightness are the three uncompromisable positions of the True Corner." - Scout107
*/