/* Page content */
.history {
  margin-top: 64px;
}

/* Author text */
.history-author {
  text-align: center;
  color: gray;
  font-size: 20px;
  margin-top: 0px;
}

/* Header 2 */
h2 {
  font-size: 28px;
  font-weight: bold;
  margin-top: 64px;
}

/* Header 3 */
h3 {
  font-size: 20px;
  font-weight: bold;
  margin-top: 32px;
}

/* Header 4 */
h4 {
  font-size: 20px;
  margin-top: 32px;
  color: gray;
  font-weight: normal;
}

/* Header 5 */
h5 {
  font-size: 1em;
  margin-top: 32px;
  color: gray;
  font-weight: normal;
}

/* Quote text */
.history-quote {
  font-size: 18px;
  text-align: center;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 32px;
  color: gray;
  width: 75%;
}

/* Grid for sidebar and page */
.sidebar-and-page {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
}

/* Sidebar grid */
.sidebar {
  background-color: white;
  margin-top: 100px;
  margin-left: 25px;
  margin-right: 25px;
  padding-top: 16px;
  padding-left: 16px;
  padding-right: 16px;
  padding-bottom: 16px;
  width: 200px;
  justify-self: right;
  height: 500px;
  display: grid;
  grid-template-rows: auto;
  overflow: auto;
}

/* Sidebar styling shared between all links */
.sidebar-link-h1,
.sidebar-link-h2,
.sidebar-link-h3,
.sidebar-link-h4,
.sidebar-link-h5 {
  padding-top: 2px;
  padding-bottom: 2px;
  margin-bottom: 4px;
  font-weight: bold;
  transition:
    background-color 0.25s;
}

/* Sidebar styling shared between all links when mouse-over */
.sidebar-link-h1:hover,
.sidebar-link-h2:hover,
.sidebar-link-h3:hover,
.sidebar-link-h4:hover,
.sidebar-link-h5:hover {
  background-color: lightgray;
  cursor: pointer;
}

/* Sidebar link h2 specific */
.sidebar-link-h2 {
  padding-left: 10px;
}

/* Sidebar link h3, h4, h5 specific */
.sidebar-link-h3,
.sidebar-link-h4,
.sidebar-link-h5 {
  color: gray;
  padding-left: 20px;
}

/* Sidebar link h4, h5 specific */
.sidebar-link-h4,
.sidebar-link-h5 {
  font-weight: normal;
  padding-left: 30px;
}

/* Sidebar link h5 specific */
.sidebar-link-h5 {
  padding-left: 40px;
}


/*
&#x2019;

"Cornerness, Blueness, and bottom-rightness are the three uncompromisable positions of the True Corner." - Scout107
"STAY TRUE, STAY BLUE" - Nexiy
"We all gaze up into the blue sky" - Nexiy
"Bot-less since 2017"
*/