.social-content-image-left {
  display: grid;
  grid-template-columns: 100px 1fr;
  margin-top: 48px;
  padding: 16px 16px 16px 16px;
  color: black;
  transition:
    background-color 0.25s;
}

.social-content-image-left:hover {
  background: lightgray;
}

.social-content-flavor {
  display: grid;
  grid-template-rows: 32px 20px 1fr;
  margin-left: 32px;
}

.social-subname {
  margin-top: 0px;
  font-size: 16px;
  font-weight: bold;
}
